 .u-section-1 {
  min-height: 841px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 841px;
  background-image: url("images/IMG_1580.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 841px;
}

.u-section-1 .u-container-layout-2 {
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  min-height: 423px;
  margin-top: 209px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: "IBM Plex Mono";
  font-weight: 500;
  text-transform: none;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-family: "IBM Plex Mono";
  font-size: 1.25rem;
  background-image: none;
  font-weight: normal;
  margin: 40px 0 0;
}

.u-section-1 .u-btn-1 {
  font-style: normal;
  background-image: none;
  text-transform: uppercase;
  text-decoration: underline !important;
  font-weight: 700;
  margin: 40px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 716px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 716px;
    background-position: 49.11% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 789px;
    background-position: 0% 50%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 580px;
    margin-top: 105px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 38px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-right: 48px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 48px;
    margin-bottom: -8px;
    margin-left: 116px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 652px;
  }

  .u-section-1 .u-image-1 {
    min-height: 652px;
    background-position: 55.65% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    min-height: 480px;
    margin-top: 86px;
    margin-bottom: 65px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 17px;
    margin-right: 301px;
    position: relative;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 624px;
  }

  .u-section-1 .u-image-1 {
    min-height: 554px;
    background-position: 0% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 100% 50%;
  }

  .u-section-1 .u-group-1 {
    min-height: 388px;
    margin-top: 64px;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 77px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    font-weight: 700;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 226px;
    margin-bottom: -8px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 932px;
  }

  .u-section-1 .u-image-1 {
    min-height: 482px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-1 .u-group-1 {
    min-height: 414px;
    margin-top: 105px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    margin-left: 0;
  }
}