{% extends 'base.html' %}
{% block body %}

<body class="u-body u-xl-mode"><header class="u-clearfix u-header u-header" id="sec-d5ff"><div class="u-clearfix u-sheet u-valign-top-md u-valign-top-sm u-sheet-1">
    <h1 class="u-align-center u-custom-font u-headline u-text u-title u-text-1">
      <a href="/"> Masterforce_parsing_bot</a>
    </h1>
  </div></header>
<section class="u-clearfix u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-section-1" id="carousel_c23b">
  <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div class="u-container-style u-image u-layout-cell u-left-cell u-size-31 u-image-1" data-image-width="470" data-image-height="600">
          <div class="u-container-layout"></div>
        </div>
        <div class="u-container-style u-layout-cell u-right-cell u-shape-rectangle u-size-29 u-layout-cell-2">
          <div class="u-container-layout u-container-layout-2">
            <div class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-container-style u-expanded-width u-group u-group-1">
              <div class="u-container-layout u-container-layout-3">
                <h1 class="u-align-left u-custom-font u-text u-text-1">Парсинг авито на наличие новых объявлений </h1>
                <p class="u-custom-font u-large-text u-text u-text-variant u-text-2">Сканирование сайта по заданным критериям поиска и мгновенная отправка новых объявлений в мессенджер</p>
                <a href="https://nicepage.com/c/text-button-html-templates" class="u-border-none u-btn u-button-style u-custom-color-1 u-custom-font u-heading-font u-btn-1">ПОПРОБОВАТЬ<span style="text-decoration: underline !important;"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
